# Dependencies for the projectg 

altgraph==0.17.2
AWSIoTPythonSDK==1.4.9
certifi==2021.10.8
charset-normalizer==2.0.12
docutils==0.18.1
future==0.18.2
idna==3.3
Kivy==2.1.0
kivy-deps.angle==0.3.2
kivy-deps.glew==0.3.1
kivy-deps.sdl2==0.4.5
Kivy-Garden==0.1.5
kivymd==0.104.2
paho-mqtt==1.6.1
pefile==2021.9.3
Pillow==9.1.0
pip==21.2.4
Pygments==2.11.2
pyinstaller==5.0.1
pyinstaller-hooks-contrib==2022.4
pyModbusTCP==0.1.10
pypiwin32==223
pywin32==303
pywin32-ctypes==0.2.0
requests==2.27.1
setuptools==58.1.0
urllib3==1.26.9